* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePageMain {
  width: 90%;
  margin: 0 auto;
  height: 1000px;
  border: solid red;
}

.homePageMain > header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  border: solid black;
  width: 90%;
}

.homePageMain > header > nav {
  border: solid yellow;
}

.section {
  border: solid red;
  margin-top: 200px;
}
