* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePageMain {
  width: 90%;
  margin: 0 auto;
}

.homePageMain > header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(182, 181, 181);
  border-radius: 15px;
  width: 90%;
}

.homePageMain > header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.homePageMain > header > div {
  display: flex;
  justify-content: center;

  width: 300px;
}

.link {
  background-color: rgb(150, 143, 143);
  border-radius: 15px;
  width: 50px;
  height: 27px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(6, 6, 6);
}

.link:hover {
  background-color: rgb(116, 107, 107);
  color: rgb(229, 225, 225);
}

.homePageOpshenSection {
  background-color: rgb(150, 143, 143);
  color: antiquewhite;
  outline: none;
  box-shadow: 3px 6px #888888;
}

.homePageOpshenSection > option {
  box-shadow: 5px 15px #888888;
}

.homePageMain > section {
  border: solid red;
}
