.homePageSection {
  display: grid;

  row-gap: 2px;
}

.card {
  display: flex !important ;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
}

.card:hover {
  scale: 1.5;
  z-index: 20;
  width: 450px;
  translate: 100px -20px;
}

.card-img-top {
  border-right: solid rgb(95, 95, 240);
  width: 100px !important;
  height: 100px;
  object-fit: contain;
  padding: 0px 20px 0px 10px;
}

.card-body {
  display: flex !important;
  justify-content: space-between;
}

.btn-primary {
  min-width: 60px;
  height: 30px;
  font-size: 10px !important;
  padding: unset !important;
}

.card-title {
  font-size: 15px !important;
  padding: 0px 10px 0px 0px;
}
