.univerisyDiv {
  width: 95%;
  margin: 0 auto;
  background-color: rgb(133, 133, 133);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  height: 50px;
  text-align: center;
  font-size: 35px !important;
}

.univerisyDiv2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  color: antiquewhite;
  margin: 10px 0px;
  padding: 0px 10px;
}

.univerisyDiv2 > button {
  background-color: rgb(116, 116, 116);
  border-radius: 15px;
  padding: 6px;
  cursor: pointer;
  min-width: 300px;
}

.univerisyDiv2 > button:hover {
  background-color: rgb(85, 85, 85);
  color: rgb(252, 252, 251);
}

.univerisyDiv2 > a {
  display: none;
}

.univerisyDiv2 > button:hover ~ a {
  display: block;
  color: brown;
}
